<div class="home-banners" style="padding: 10px; border: 1px solid #e2e2e2;">
<div class="row">
<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12"><a href="#"> <img src="http://104.130.141.104/img/home/fragancias.jpg" alt="" width="310" height="300" /> </a></div>
<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12"><a href="#"> <img src="http://104.130.141.104/img/home/reloj.jpg" alt="" width="310" height="300" /> </a></div>
<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12"><a href="#"> <img src="http://104.130.141.104/img/home/macpro.jpg" alt="" width="310" height="300" /> </a></div>
</div>
<div class="row">
<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12"><a href="#"> <img class="kty" src="http://104.130.141.104/img/home/smarttv-hisense.jpg" alt="" width="630" height="300" /> </a></div>
<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12"><a href="#"> <img class="kty" src="http://104.130.141.104/img/home/kitchen.jpg" alt="" width="310" height="300" /> </a></div>
</div>
</div>
<div class="row" style="padding: 10px;">
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"><a href="#"> <img src="http://104.130.141.104/img/home/tablets.jpg" alt="" width="100%" height="100%" /> </a></div>
</div>